<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.lockerapp"
        version   = "1.0.0">
	<name>RoomApp</name>
    <description>
        A sample Hybrid App Demo for mobile programming.
    </description>	
    <author href="https://github.com/iChill1/RoomAvailabilityApp" email="edbrieljohnfinney@gmail.com">
        Finney
    </author>
    <preference name="phonegap-version" value="6.5.0" />
    <icon src="img/144x144.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="img/48x48.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="img/72x72.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="img/96x96.png"   gap:platform="android"    gap:qualifier="xhdpi"/>    
</widget>
